extends ../layout

block content
  div(class="container")
    h1(class='colorAzul')='Modifica los platos a la carta'
    hr(class="featurette-divider")
    div(class= 'col-md-6 col-md-offset-3')
      div(class='panel panel-default')
          div(class='panel-heading')='Modificar productos'
          div(class='panel-body')
            div(class='form-nuevoproducto')
              form(class="" action='/editar' method='post')
                div(class='form-group')
                  label(for='Nombre')='Nombre del producto'
                  input(class='form-control' type= 'text' name='Nombre' placeholder='Nombre' value=productos[0].Descripcion)
                div(class='form-group')
                  label(for='Precio')='Precio del producto'
                  input(class='form-control' type= 'text' name='Precio' placeholder='Precio' value=productos[0].Precio)
                button(type='submit' class='btn btn-default' id='enviar')='Modificar Producto'
                
