extends ../layout
block content
  div(class= 'container')
    h1(class='colorAzul')='Perfil del empleado'
    h3= 'Hola...' + user.nombres + ' encargado de ' + user.cargo
    div.container
      p= 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam eos earum pariatur aperiam, amet facere sit nobis ratione quis ipsum impedit quaerat, odit dicta harum nulla natus! Consequuntur, perspiciatis, facilis!'   
      p= 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam eos earum pariatur aperiam, amet facere sit nobis ratione quis ipsum impedit quaerat, odit dicta harum nulla natus! Consequuntur, perspiciatis, facilis!'  
      p= 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam eos earum pariatur aperiam, amet facere sit nobis ratione quis ipsum impedit quaerat, odit dicta harum nulla natus! Consequuntur, perspiciatis, facilis!'  
      p= 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam eos earum pariatur aperiam, amet facere sit nobis ratione quis ipsum impedit quaerat, odit dicta harum nulla natus! Consequuntur, perspiciatis, facilis!'  
      p= 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam eos earum pariatur aperiam, amet facere sit nobis ratione quis ipsum impedit quaerat, odit dicta harum nulla natus! Consequuntur, perspiciatis, facilis!'  
      p.colorverde= 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam eos earum pariatur aperiam, amet facere sit nobis ratione quis ipsum impedit quaerat, odit dicta harum nulla natus! Consequuntur, perspiciatis, facilis!'
      p.conlorverde= ' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro magni, cum debitis, quod placeat minus perspiciatis recusandae eaque veritatis temporibus nisi ea fugit suscipit quia animi, sunt fugiat illo alias!'
  hr    